    * {
        margin: 0;
        padding: 0;
        font-family: "Cinzel", serif;
    }

    body {
        background-color: #F0EAD6;
    }

    /*navegacion*/
    nav {
        display: flex;
        justify-content: center;
        gap: 3rem;
        background-color: #D9CBAE;
        font-weight: 700;
        flex-wrap: wrap;


    }

    #enlaces {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
    }

    a {
        text-decoration: none;
        color: black;
    }

    #introduccion {
        text-align: center;

    }

    /*seccion*/
    section h1 {
        text-align: center;
        font-size: 7vh;
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    #elementos {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        padding: 2rem;
        text-align: center;
        column-gap: 2rem;
        row-gap: 2rem;

    }

    #elementos img {
        max-width: 100%;
        height: 400px;
        margin: 1rem 0;
        border-radius: 20%;

    }

    #elementos span {
        font-weight: bold;
    }

    #elementos div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }



    #boton-conoce {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 2rem;
    }

    #boton {
        display: inline-block;
        padding: 10px 20px;
        background-color: #285b31;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    #boton:hover {
        background-color: #1d3d24;
        /* Color de fondo al pasar el ratón */
    }


    /*footer*/
    footer {
        background-color: #D9CBAE;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        font-weight: 700;
    }

    #footer-logo img {
        width: 200px;
        height: 100px;
    }


    @media (max-width: 1024px) {

        div#elementos {
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            padding: 0;

            /* ajusta automaticamente las columnas grid  */
        }
    }

    @media (max-width: 768px) {
        nav {
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;

        }

        nav img {
            height: auto;
            max-width: 100%;

        }

        #enlaces {
            flex-direction: column;

        }

        div#elementos {
            grid-template-columns: 1fr;
            /* Una columna en móviles */
        }
    }