* {
    margin: 0;
    padding: 0;
    font-family: "Cinzel", serif;
}

body {
    background-color: #F0EAD6;
}

/*navegacion*/

nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    background-color: #D9CBAE;
    font-weight: 700;
    flex-wrap: wrap;
    /* Permite el envolvimiento */
    width: 100%;


}

#enlaces {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

/* Introducción */
#introduccion {
    text-align: center;
}

/* Video */
#video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*cubre el contenedor completo*/
}

/* Imágenes */
#destinos {
    text-align: center;
    margin: 50px 0;
}

.destinos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* Permite que los elementos se ajusten */
    padding: 2rem;
}

.destinos-imagenes {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;

}

.destinos-imagen img {
    border-radius: 10px;
    max-width: 100%;
    /* Asegura que las imágenes no excedan el ancho del contenedor */
}

.destino-chica {
    flex: 1 1 200px;
    /* Flexibilidad y ancho mínimo */
    margin: 10px;
    opacity: 0.6;
}

.destino-chica img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.nav-button {
    background-color: transparent;
    border: none;
    font-size: 30px;
}

.nav-button:hover {
    cursor: pointer;
}

/* Footer */
footer {
    background-color: #D9CBAE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: 700;
    flex-wrap: wrap;
    /* Permite que los elementos se ajusten */
}

#footer-logo img {
    width: 200px;
    height: auto;
    /* Mantiene la proporción */
}

/* Media Queries */
@media (max-width: 1024px) {
    nav {
        flex-direction: column;
        /* Cambia a columna en pantallas pequeñas */
        align-items: center;
        /* Centra los elementos */
        padding: 1rem;
        /* Añadido espaciado */
    }

    #video {
        height: auto;
    }

    .destinos-container {
        flex-direction: column;
        /* Cambia a columna en pantallas pequeñas */
    }

    footer {
        align-items: center;
        /* Centra los elementos del pie de página */
        width: 100%;
        /* Asegura que ocupe todo el ancho */
    }
}



@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 97%;

    }

    nav img {
        height: auto;
        max-width: 100%;

    }

    #video {
        width: 106%;
        object-fit: cover;

    }

    #enlaces {

        flex-direction: column;
    }



    .destinos-container {
        flex-direction: column;
        /* Cambia a columna en pantallas pequeñas */
    }

    footer {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}