* {
    margin: 0;
    padding: 0;
    font-family: "Cinzel", serif;
}

body {
    background-color: #F0EAD6; /* Fondo Principal */
}

/*navegacion*/
nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    background-color: #3A5B2A; /* Fondo de Navegación */
    font-weight: 700;
}

#enlaces {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: #FFFFFF; /* Texto de Navegación */
}

#introduccion {
    text-align: center;
}

/*seccion*/
#lugares {
    margin: 2rem;
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
}
#lugares p{
    width: 80%;
    text-align: justify;
}

#lugares img {
    width: 400px;
    height: 300px;
    border-radius: 3%;
}

#lugares div{
    display: grid;
    align-items: center;
    justify-items: center;
    row-gap: 1rem;
}
#lugares input{
    background-color: #D97C29;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 10px;
}

#lugares input:hover{
    cursor: pointer;
    transform: scale(1.1); 
    transition: transform 0.5s ease;
}

/*footer*/
footer {
    background-color: #3A5B2A; /* Fondo del pie de página */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: 500;
}

#footer-logo img {
    width: 200px;
    height: 100px;
}
footer p{
    color: #FFFFFF; 
    margin-right:1rem;
}
