* {
    margin: 0;
    padding: 0;
    font-family: "Cinzel", serif;
}

body {
    background-color: #F0EAD6;
}

/*navegacion*/
nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    background-color: #D9CBAE;
    font-weight: 700;
    flex-wrap: wrap;

}

#enlaces {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

#introduccion {
    text-align: center;

}



/*seccion*/
#guides {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 2rem;
    font-weight: 500;
}

#guides div {
    padding: 2rem;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 1fr 1fr;
    border-radius: 2%;
}

#guides img {
    max-width: 100%;
    /* Ajusta a 100% del contenedor */
    height: 300px;
    border-radius: 3%;
}

/*footer*/
footer {
    background-color: #D9CBAE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: 700;
}

#footer-logo img {
    width: 200px;
    height: 100px;
}

@media (max-width: 1024px) {

    #guides {
        grid-template-columns: repeat(2, 1fr);
        /* Dos columnas en pantallas medianas */
    }
}

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

    }

    nav img {
        height: auto;
        max-width: 100%;

    }

    #enlaces {
        flex-direction: column;

    }

    #guides {
        grid-template-columns: 1fr;
        /* Una columna en móviles */
    }
}