* {
    margin: 0;
    padding: 0;
    font-family: "Cinzel", serif;
}

body {
    background-color: #F0EAD6;
}

/*navegacion*/
nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    background-color: #D9CBAE;
    font-weight: 700;

}

#enlaces {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: 2rem;
}

a {
    text-decoration: none;
}

#introduccion {
    text-align: center;

}



/*seccion*/
#guides {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 2rem;
    font-weight: 500;
}

#guides div {
    padding: 2rem;
    display: grid;
    align-items: center;
    justify-items: center;

    border-radius: 2%;
}

#guides img {
    width: 400px;
    height: 300px;
    border-radius: 3%;
}

/*footer*/
footer {
    background-color: #3A5B2A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: 500;
}

#footer-logo img {
    width: 200px;
    height: 100px;
}