* {
    margin: 0;
    padding: 0;
    font-family: "Cinzel", serif;
}

body {
    background-color: #F0EAD6; /* Fondo Principal */
}

/*navegacion*/
nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    background-color: #D9CBAE;
    font-weight: 700;
}

#enlaces {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

#introduccion {
    text-align: center;
}

/*seccion*/
section{
    padding: 10rem;

}
section h1{
    text-align: center;
    font-size: 100px;
    margin-bottom: 2rem;
}
section p{
    font-weight: 700;
} 
section #elementos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;

}
section #elementos div{
background-color: rgb(236, 236, 236);
padding: 2rem;
text-align: center;
border-radius: 5%;
display: grid;
justify-items: center;
align-items: center;
    
}
section div img{
    width: 400px;
    height: 300px;
    border-radius: 100%;
}
section div#imagen1 { /*para que tenga privilegio mas alto*/
    background-image: url(/imgs/juanjose.jpg);
    background-position: center top; 
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
}
section div#imagen2 {
    background-image: url(/imgs/manuel.jpg);
    background-position: center top; 
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
}
section div#imagen3 {
    background-image: url(/imgs/Bella.png);
    background-position: center top; 
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
}
section div#imagen4 {
    background-image: url(/imgs/Alvaro.png);
    background-position:  65% top ; 
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
}
section div#imagen5 {
    background-image: url(/imgs/CArlos.jpg);
    background-size: 200px;
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
}
section div#imagen6 {
    background-image: url(/imgs/Maria.jpg);
    background-position: center top; 
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
}

#v1>#valoracion,#v2>#valoracion,#v3>#valoracion,#v4>#valoracion,#v5 > #valoracion,#v6 > #valoracion{
    display: flex;
}

.checked {
    color: orange;
  }

/*footer*/
footer {
    background-color: #D9CBAE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: 700;
}

#footer-logo img {
    width: 200px;
    height: 100px;
}
footer p{
    color: #FFFFFF; 
    margin-right:1rem;
}
