* {
    margin: 0;
    padding: 0;
    font-family: "Cinzel", serif;
}

body {
    background-color: #F0EAD6;
    /* Fondo Principal */
}

/*navegacion*/
nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
    background-color: #D9CBAE;
    font-weight: 700;
    flex-wrap: wrap;

}

#enlaces {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: black;
}

#introduccion {
    text-align: center;
}

/*seccion*/
section {
    padding: 10rem;

}

section h1 {
    text-align: center;
    font-size: 5vw;
    /* Tamaño de fuente que se ajusta al tamaño de la pantalla */
    margin-bottom: 2rem;
}

section p {
    font-weight: 700;
}

section #elementos {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* ajustar automaticamente las columans */
    row-gap: 2rem;
    column-gap: 2rem;


}

section #elementos div {
    background-color: rgb(236, 236, 236);
    padding: 2rem;
    text-align: center;
    border-radius: 5%;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: transform 0.2s;
    /* Suaviza la transición al contraer */
}

section div img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

section div#imagen1 {
    /*para que tenga privilegio mas alto*/
    background-image: url(/imgs/juanjose.jpg);
    background-position: center top;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

section div#imagen2 {
    background-image: url(/imgs/manuel.jpg);
    background-position: center top;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

section div#imagen3 {
    background-image: url(/imgs/Bella.png);
    background-position: center top;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

section div#imagen4 {
    background-image: url(/imgs/Alvaro.png);
    background-position: 65% top;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

section div#imagen5 {
    background-image: url(/imgs/CArlos.jpg);
    background-size: 200px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

section div#imagen6 {
    background-image: url(/imgs/Maria.jpg);
    background-position: center top;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#v1>#valoracion,
#v2>#valoracion,
#v3>#valoracion,
#v4>#valoracion,
#v5>#valoracion,
#v6>#valoracion {
    display: flex;
}

.checked {
    color: orange;
}

/*footer*/
footer {
    background-color: #D9CBAE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: 700;
}

#footer-logo img {
    width: 200px;
    height: 100px;
}

footer p {
    color: black;
    margin-right: 1rem;
}

@media (max-width: 1024px) {

    div#elementos {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        /* ajusta automaticamente las columnas grid  */
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

    }

    nav img {
        height: auto;
        max-width: 100%;

    }

    #enlaces {
        flex-direction: column;

    }

    #reviews {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1rem;


    }
}